@charset "UTF-8";

html {
    height: 100%;
}

body, html {
    margin: 0;
    font-family: 'Nanum Gothic', sans-serif;
    /*font-weight: 700;*/
    color: #000;
}

body {
    background: #f3fbfe;
    background-size: cover;
    position: relative;
    min-height: 100%;
}

.clear {
    clear: both;
}

.hide {
    display: none;
}

.mobile {
    display: none;
}

.background {
    position: fixed;
    bottom: 0;
    width: 100%;
}

header {
    padding: 5px;
    box-sizing: border-box;
}

header .header-wrap {
    max-width: 800px;
    margin: 0 auto;
}

header .title {
    font-size: 18px;
    margin: 0;
    display: inline-block;
    font-weight: normal;
}

header .title a {
    /*background-image: url(../img/app_192.png);*/
    background-size: contain;
    text-decoration: none;
    color: #000;
    padding: 3px 0 3px 40px;
    background-repeat: no-repeat;
    display: block;
}

header .menu {
    padding: 3px 0;
    float: right;
}

header .menu a {
    display: block;
    float: left;
    margin-left: 20px;
    color: #003748;
    text-decoration: none;
    background-repeat: no-repeat;
    padding-left: 22px;
    background-size: contain;
    font-weight: bold;
}

header .menu .parent-menu {
    position: relative;
}

footer {
    max-width: 800px;
    position: relative;
    z-index: 10;
    text-align: center;
    font-size: 12px;
    margin: 0 auto;
}

footer p:first-of-type {
    margin-top: 0;
}

#main {
    max-width: 800px;
    margin: auto;
    padding: 10px;
    border-radius: 12px;
}

#main > h1 {
    margin: 0;
}

#main {
    position: relative;
    z-index: 10;
}

header {
    position: relative;
    z-index: 25;
}

.collapsible {
  background-color: darkslateblue;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: blueviolet;
  outline: none;
}

.collapsible:after {
  /*content: '\002B';*/
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.section {
    margin: 10px 0;
}

.section.white {
    background: rgba(255, 255, 255, 0.85);
    padding: 10px;
    border-radius: 8px;
}

.section.error {
    display: none;
    text-align: center;
}

.section p:first-of-type {
    margin-top: 0;
}

.section .toggle-content p:first-of-type {
    margin: 1em 0;
}

.section p.description {
    margin: 1em 0;
}

.section h2 {
    font-size: 18px;
}

.section .continentals {
    margin-bottom: 15px;
}

.section .continentals .check {
    margin-right: 10px;
}

.section.about {
    text-align: left;
}

.section.about p {
    margin: 1em 0;
}

.toggle-content {
    display: none;
}

.active + .toggle-content {
    display: block;
}

/* HOME PAGE STYLING */
.home a.button {
    display: block;
    text-decoration: none;
    color: #000;
    border-radius: 8px;
    margin: 20px auto;
    padding: 10px;
    box-sizing: border-box;
    max-width: 400px;
}

.home a.button h2 {
    margin: 0;
    font-size: 32px;
    padding-left: 33px;
    background-repeat: no-repeat;
    background-position: 0 center;
    color: #003748;
}

.home a.button h2.no-logo {
    padding-left: 0;
}

.home a.button p {
    margin: 0;
    font-size: 14px;
}

.button {
    display: block;
    font-size: 18px;
    margin: 10px auto;
    border-radius: 8px;
    border: 2px solid #000;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    background: #b99027;
    /* Old browsers */
    background: -moz-linear-gradient(top, #eabd49 30%, #b99027 99%) !important;
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #eabd49 30%, #b99027 99%) !important;
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #eabd49 30%, #b99027 99%) !important;
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

/* 텍스트/폰트 */
h1.title {
    font-size: 18px;
    margin: 0;
}

h2.title {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

h2 {
    font-size: 14px;
    margin-bottom: 0;
}

a.toggle {
    color: #00171c;
    text-decoration: none;
    font-weight: bold;
    display: block;
}

.center {
    text-align: center;
}


/* 타입 색깔 */


@media only screen and (max-width: 720px) {
    .mobile {
        display: block;
    }

    header {
        background: #eabd49;
        position: fixed;
        width: 100%;
        z-index: 50;
    }

    header .title {
        float: none;
        text-align: center;
    }
}