<!DOCTYPE html>
<html lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>GO Battle League 전적</title>
    <meta name="description"
          content="Personal Project">

    <!--OG tags for social-->
    <meta property="og:title" content="STGpoke">
    <meta property="og:description" content="Personal Project">
    <meta property="og:image" content="{{ url_for('static', filename='images/og.png') }}">

    <meta name="apple-mobile-web-app-capable">
    <meta name="mobile-web-app-capable">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--OG tags for social-->
    <link rel="icon" href="{{ url_for('static', filename='images/icon.png') }}">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <!--    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">-->
    <!--    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">-->
    <!--    <script src="../static/js/jquery.min.js"></script>-->
    <!--    <script src="../static/js/bootstrap.min.js"></script>-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            setPokemonList();
            $("#resultList").html("");
            showResults();
        });

        function saveResult() {
            let idx = $("#resultList > tr").length + 1;
            let my1 = $("#selectMyTeamFirst option:selected").text();
            let my2 = $("#selectMyTeamSecond option:selected").text();
            let my3 = $("#selectMyTeamThird option:selected").text();
            let opp1 = $("#selectOppTeamFirst option:selected").text();
            let opp2 = $("#selectOppTeamSecond option:selected").text();
            let opp3 = $("#selectOppTeamThird option:selected").text();
            let result = $("#battleResult option:selected").text();
            $.ajax({
                type: 'POST',
                url: "/battlelog/save",
                data: {
                    'index': idx, 'my_first': my1, 'my_second': my2, 'my_third': my3,
                    'opp_first': opp1, 'opp_second': opp2, 'opp_third': opp3, 'result': result
                },
                success: function (response) {
                    if (response['result'] == 'success') {
                        alert('등록 완료!');
                        window.location.reload();
                    }
                }
            });
        }

        function showResults() {
            $.ajax({
                type: "GET",
                url: "/battlelog/load",
                data: {},
                success: function (response) {
                    let results = response["results"];
                    for (let i = 0; i < results.length; i++) {
                        createLog(results[i]["index"], results[i]["my_first"], results[i]["my_second"], results[i]["my_third"],
                            results[i]["opp_first"], results[i]["opp_second"], results[i]["opp_third"], results[i]["result"]);
                    }
                }
            })
        }

        function createLog(idx, my1, my2, my3, opp1, opp2, opp3, result) {
            let temp_html = `<tr><td>${idx}</td><td>${my1}</td><td>${my2}</td><td>${my3}</td>
                            <td>${opp1}</td><td>${opp2}</td><td>${opp3}</td><td>${result}</td></tr>`;
            $("#resultList").append(temp_html);
        }

        function checkName(obj, target) {
            let x = $(obj).val();
            let id = $('#' + target + " > option:contains(" + x + ")").val();
            $('#' + target).val(id).prop("selected", true);
        }

        function clearList() {
            $('#selectMyTeamFirst').empty();
            $('#selectMyTeamSecond').empty();
            $('#selectMyTeamThird').empty();
            $('#selectOppTeamFirst').empty();
            $('#selectOppTeamSecond').empty();
            $('#selectOppTeamThird').empty();
            let def = `<option disabled="" selected="" value="">포켓몬을 선택</option>`;
            $('#selectMyTeamFirst').append(def);
            $('#selectMyTeamSecond').append(def);
            $('#selectMyTeamThird').append(def);
            $('#selectOppTeamFirst').append(def);
            $('#selectOppTeamSecond').append(def);
            $('#selectOppTeamThird').append(def);
        }

        function setPokemonList() {
            clearList();
            let cup = $('#cup').val();
            $.ajax({
                url: "../static/data/gamemaster.json",
                // url: "{{ url_for('static', filename='data/gamemaster.json') }}",
                dataType: "json",
                data: {},
                success: function (res) {
                    let dex = res["pokemon"]
                    let pokeList = ``;
                    for (let i = 0; i < dex.length; i++) {
                        let id = dex[i]["speciesId"];
                        let name = dex[i]["speciesNameKor"];
                        let temp = `<option value="${id}">${name}</option>`;
                        pokeList += temp;
                    }
                    $('#selectMyTeamFirst').append(pokeList);
                    $('#selectMyTeamSecond').append(pokeList);
                    $('#selectMyTeamThird').append(pokeList);
                    $('#selectOppTeamFirst').append(pokeList);
                    $('#selectOppTeamSecond').append(pokeList);
                    $('#selectOppTeamThird').append(pokeList);
                }
            });
        }

    </script>
</head>
<body>

<header>
    <div class="header-wrap">
        <div class="clear"></div>
    </div>
</header>
<div class="main-wrap">
    <div id="main">
        <div class="section log white">
            <div class="team-header">
                <select class="poke-select">
                    <option value="great">슈퍼리그 (CP 1500)</option>
                    <option value="ultra">하이퍼리그 (CP 2500)</option>
                    <option value="master">마스터리그 (CP 무제한)</option>
                </select>
                <select id="cup" class="poke-select">
                    <option value="all">모든 포켓몬</option>
                    <option value="premier">프리미어 리그</option>
                    <option value="kanto">관동컵</option>
                </select>
            </div>
            <table id="myTeam" class="team-table">
                <th colspan="3">내 팀</th>
                <tr>
                    <td><input id="myTeamFirst" class="poke-search" type="text" placeholder="포켓몬 이름 검색"
                               onkeyup="checkName(this, 'selectMyTeamFirst')"></td>
                    <td><input id="myTeamSecond" class="poke-search" type="text" placeholder="포켓몬 이름 검색"
                               onkeyup="checkName(this, 'selectMyTeamSecond')"></td>
                    <td><input id="myTeamThird" class="poke-search" type="text" placeholder="포켓몬 이름 검색"
                               onkeyup="checkName(this, 'selectMyTeamThird')"></td>
                </tr>
                <tr>
                    <td><select id="selectMyTeamFirst" class="poke-select">
                        <option disabled="" selected="" value="">-</option>
                    </select></td>
                    <td><select id="selectMyTeamSecond" class="poke-select">
                        <option disabled="" selected="" value="">-</option>
                    </select></td>
                    <td><select id="selectMyTeamThird" class="poke-select">
                        <option disabled="" selected="" value="">-</option>
                    </select></td>
                </tr>
            </table>
            <table id="oppTeam" class="team-table">
                <th colspan="3">상대 팀</th>
                <tr>
                    <td><input id="oppTeamFirst" class="poke-search" type="text" placeholder="포켓몬 이름 검색"
                               onkeyup="checkName(this, 'selectOppTeamFirst')"></td>
                    <td><input id="oppTeamSecond" class="poke-search" type="text" placeholder="포켓몬 이름 검색"
                               onkeyup="checkName(this, 'selectOppTeamSecond')"></td>
                    <td><input id="oppTeamThird" class="poke-search" type="text" placeholder="포켓몬 이름 검색"
                               onkeyup="checkName(this, 'selectOppTeamThird')"></td>
                </tr>
                <tr>
                    <td><select id="selectOppTeamFirst" class="poke-select">
                        <option disabled="" selected="" value="">-</option>
                    </select></td>
                    <td><select id="selectOppTeamSecond" class="poke-select">
                        <option disabled="" selected="" value="">-</option>
                    </select></td>
                    <td><select id="selectOppTeamThird" class="poke-select">
                        <option disabled="" selected="" value="">-</option>
                    </select></td>
                </tr>
            </table>
            <div>
                <select id="battleResult">
                    <option vaule="win">승리</option>
                    <option vaule="lose">패배</option>
                    <option vaule="draw">무승부</option>
                </select>
                <button onclick="saveResult()" type="button">저장</button>
            </div>
            <table class="result-table">
                <thead>
                <tr>
                    <th style="width: 10%;">번호</th>
                    <th colspan="3" style="width: 40%;">내 팀</th>
                    <th colspan="3" style="width: 40%;">상대 팀</th>
                    <th style="width: 10%;">결과</th>
                </tr>
                </thead>
                <tbody id="resultList">

                </tbody>
            </table>
        </div>

    </div>

</div><!--end #main-->
</div><!--end #main-wrap-->

<!--<footer>-->
<!--    <p class="copyright">Version <a href="https://github.com/pvpoke/pvpoke/releases">1.16.3.3</a> © 2019, released under-->
<!--        the <a href="https://opensource.org/licenses/MIT" target="_blank">MIT license</a> | <a-->
<!--                href="https://pvpoke.com/privacy/">Privacy Policy</a></p>-->
<!--    <p>Pokémon and Pokémon GO are copyright of The Pokémon Company, Niantic, Inc., and Nintendo. All trademarked images-->
<!--        and names are property of their respective owners, and any such material is used on this site for educational-->
<!--        purposes only.</p>-->
<!--</footer>-->

<img class="background" src="../static/images/bg_sunset.jpg">

<!--Global script-->
<!--<script>{-->
<!--}</script>-->

</body>
</html>