<!DOCTYPE html>
<html lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>All I Need for Pokemon GO</title>
    <meta name="description"
          content="Personal Project">

    <!--OG tags for social-->
    <meta property="og:title" content="STGpoke">
    <meta property="og:description" content="Personal Project">
    <meta property="og:image" content="{{ url_for('static', filename='images/og.png') }}">

    <meta name="apple-mobile-web-app-capable">
    <meta name="mobile-web-app-capable">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--OG tags for social-->
    <link rel="icon" href="{{ url_for('static', filename='images/icon.png') }}">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <!--    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">-->
    <!--    <script src="../static/js/jquery.min.js"></script>-->
    <!--    <script src="../static/js/bootstrap.min.js"></script>-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            setPokemonListNonDup();
        });

        function checkName(obj, target){
            let x = $(obj).val();
            let id = $('#'+target+" > option:contains("+x+")").val();
            $('#'+target).val(id).prop("selected",true);
        }

        function setPokemonListNonDup() {
            $('#selectPokemon').empty();
            let cup = $('#cup').val();
            $.ajax({
                url: "{{ url_for('static', filename='data/gamemaster.json') }}",
                dataType: "json",
                data: {},
                success: function (res) {
                    let dex = res["pokemon"]
                    let pokeList = ``;
                    for (let i = 0; i < dex.length; i++) {
                        let id = dex[i]["speciesId"];
                        let nameKor = dex[i]["speciesNameKor"];
                        let nameEng = dex[i]["speciesName"];
                        let temp = `<option value="${id}">${nameKor} / ${nameEng}</option>`;
                        if(id.indexOf('_') == -1) {
                            pokeList += temp;
                        }
                    }
                    $('#selectPokemon').append(pokeList);
                }
            });
        }
    </script>
</head>
<body>
<header>
    <div class="header-wrap">
        <div class="clear"></div>
    </div>
</header>
<!--<div class="main-wrap">-->
<div id="main">
    <!--        <div class="hide mega-warning"><b>Stats for released Mega Evolutions are official but PvP performance is-->
    <!--            currently unknown. Simulation results should be disregarded until more info is available. Stats for-->
    <!--            unreleased Mega Evolutions are speculative and unofficial.</b></div>-->

    <div class="section home white" id="home">
        <!--            <p>Welcome to PvPoke.com! We're an open-source tool for simulating, ranking, and building teams for Pokemon-->
        <!--                GO PvP (player versus player) battles. Check out the links below to get started.</p>-->
        <div class="poke-name">
            포켓몬의 영어이름 찾기
            <input id="inputPokemon" type="text" placeholder="포켓몬 이름 검색" onkeyup="checkName(this, 'selectPokemon')">
            <select id="selectPokemon" class="poke-select">
                <option disabled="" selected="" value="">-</option>
            </select>
        </div>
        <a href="https://stgpoke.shop/battlelog/" class="button">
            <h2 class="title">GO배틀리그 전적 기록하기</h2>
            <p>GO배틀리그 전적 관리 및 통계</p>
        </a>
        <a href="https://stgpoke.shop/pokedex/" class="button">
            <h2 class="title">도감</h2>
            <p>포켓몬고에 등장하는 모든 포켓몬스터의 정보</p>
        </a>
        <a href="https://stgpoke.shop/types/" class="button">
            <h2 class="title">타입별 상성</h2>
            <p>포켓몬의 타입별 상성</p>
        </a>
        <a href="https://stgpoke.shop/battle/" class="button">
            <h2 class="title">배틀</h2>
            <p>-공사중-</p>
        </a>
        <!--        <button class="button" type="button" data-toggle="collapse" data-target="#news" aria-expanded="false">-->
        <!--            <h2 class="title">새 소식</h2>-->
        <!--            <p>pokemongohub, 기타 등등에 업데이트된 소식</p>-->
        <!--        </button>-->
        <div id="news" class="collapse" data-parent="#home">
            <div class="card-body">
                Anim pariatur cliche reprehenderit,
            </div>
        </div>

        <!--Update section for updates-->
        <!--            <h3>What's New</h3>-->

        <!--            <h4>v1.16.3 (September 19, 2020)</h4>-->
        <!--            <ul>-->
        <!--                <li>The "Switches" rankings now rank Pokemon with 4 turns of energy advantage instead of 6.</li>-->
        <!--                <li>Fixed an issue in Sandbox Mode that caused stat-changing moves to reroll each update.</li>-->
        <!--                <li>Custom group import/export text no longer highlights so you can edit the text directly.</li>-->
        <!--            </ul>-->

        <!--            <h3>Latest Article</h3>-->

        <!--            <div class="article-item flex">-->
        <!--                <div class="col-3">-->
        <!--                    <a href="https://pvpoke.com/articles/ultimate-guide-to-team-building/">-->
        <!--                        <img src="./PvPoke _ Open-Source Battle Simulator, Rankings &amp; Team Building for Pokemon GO PvP_files/team-building-thumb.jpg">-->
        <!--                    </a>-->
        <!--                </div>-->
        <!--                <div class="col-9">-->
        <!--                    <h4><a href="https://pvpoke.com/articles/ultimate-guide-to-team-building/">Ultimate Team Building-->
        <!--                        Guide by PolymersUp</a></h4>-->
        <!--                    <div class="date">August 11, 2020</div>-->
        <!--                    <p>Learn the fundamentals of building a good team and how to use the PvPoke Team Builder to its full-->
        <!--                        potential.</p>-->
        <!--                </div>-->

        <!--            </div>-->

    </div>

</div><!--end #main-->
<!--</div>&lt;!&ndash;end #main-wrap&ndash;&gt;-->

<!--<footer>-->
<!--    <p class="copyright">Version <a href="https://github.com/pvpoke/pvpoke/releases">1.16.3.3</a> © 2019, released under-->
<!--        the <a href="https://opensource.org/licenses/MIT" target="_blank">MIT license</a> | <a-->
<!--                href="https://pvpoke.com/privacy/">Privacy Policy</a></p>-->
<!--    <p>Pokémon and Pokémon GO are copyright of The Pokémon Company, Niantic, Inc., and Nintendo. All trademarked images-->
<!--        and names are property of their respective owners, and any such material is used on this site for educational-->
<!--        purposes only.</p>-->
<!--</footer>-->

<img class="background" src="../static/images/bg_sunset.jpg">
</body>


</html>