<!DOCTYPE html>
<html lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Types</title>
    <meta name="description"
          content="Personal Project">

    <!--OG tags for social-->
    <meta property="og:title" content="ALLIN-PokemonGO">
    <meta property="og:description" content="Personal Project">
    <meta property="og:image" content="{{ url_for('static', filename='/images/og.png') }}">

    <meta name="apple-mobile-web-app-capable">
    <meta name="mobile-web-app-capable">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--OG tags for social-->
    <link rel="icon" content="{{ url_for('static', filename='/images/icon.png') }}">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
<!--    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">-->
<!--    <script src="../static/js/jquery.min.js"></script>-->
<!--    <script src="../static/js/bootstrap.min.js"></script>-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <script type="text/javascript">
    </script>
</head>
<body>

<header>
    <div class="header-wrap">
        <div class="clear"></div>
    </div>
</header>
<div class="main-wrap">
    <div id="main">
        <div class="section home white" id="pokemonTypes">
            <div class="btn-background">
                <!--                <div class="card-header collapsible" id="singleType">-->
                <button class="collapsible" type="button" data-toggle="collapse" data-target="#singleTypeContent" aria-expanded="false">
                    방어시 타입별 상성
                </button>
                <!--                </div>-->
                <div id="singleTypeContent" class="collapse" data-parent="#pokemonTypes">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit,
                    </div>
                </div>
            </div>
            <div class="btn-background">
                <!--                <div class="card-header" id="doubleType">-->
                <button class="collapsible" type="button" data-toggle="collapse" data-target="#doubleTypeContent" aria-expanded="false">
                    공격시 타입별 상성
                </button>
                <!--                </div>-->
                <div id="doubleTypeContent" class="collapse" data-parent="#pokemonTypes">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit,
                    </div>
                </div>
            </div>

        </div>

    </div><!--end #main-->
</div><!--end #main-wrap-->

<!--<footer>-->
<!--    <p class="copyright">Version <a href="https://github.com/pvpoke/pvpoke/releases">1.16.3.3</a> © 2019, released under-->
<!--        the <a href="https://opensource.org/licenses/MIT" target="_blank">MIT license</a> | <a-->
<!--                href="https://pvpoke.com/privacy/">Privacy Policy</a></p>-->
<!--    <p>Pokémon and Pokémon GO are copyright of The Pokémon Company, Niantic, Inc., and Nintendo. All trademarked images-->
<!--        and names are property of their respective owners, and any such material is used on this site for educational-->
<!--        purposes only.</p>-->
<!--</footer>-->

<img class="background" src="../static/images/bg_sunset.jpg">

<!--Global script-->
<!--<script>{-->
<!--}</script>-->

</body>
</html>