<!DOCTYPE html>
<html lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Types</title>
    <meta name="description"
          content="Personal Project">

    <!--OG tags for social-->
    <meta property="og:title" content="STGpoke">
    <meta property="og:description" content="Personal Project">
    <meta property="og:image" content="{{ url_for('static', filename='bg_main.png') }}">

    <meta name="apple-mobile-web-app-capable">
    <meta name="mobile-web-app-capable">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--OG tags for social-->
    <link rel="icon" href="https://pvpoke.com/img/favicon.png">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <!--    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">-->
    <!--    <script src="../static/js/jquery.min.js"></script>-->
    <!--    <script src="../static/js/bootstrap.min.js"></script>-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <script type="text/javascript">
    </script>
</head>
<body>

<header>
    <div class="header-wrap">
        <div class="clear"></div>
    </div>
</header>
<div class="main-wrap">
    <div id="main">
        <div class="section home white" id="pokemonTypes">
            <div class="btn-background">
                <!--                <div class="card-header collapsible" id="singleType">-->
                <button class="collapsible" type="button" data-toggle="collapse" data-target="#singleTypeContent"
                        aria-expanded="false">
                    타입별 방어 상성
                </button>
                <!--                </div>-->
                <div id="singleTypeContent" class="collapse" data-parent="#pokemonTypes">
                    <div class="type-row">
                        <div class="type-column-narrow" style="background-color: #ffffff;">
                            3중 반감
                        </div>
                        <div class="type-column-narrow" style="background-color: #ffffff;">
                            2중 반감
                        </div>
                        <div class="type-column">
                            반감
                        </div>
                        <div class="type-column">
                            타입
                        </div>
                        <div class="type-column">
                            약점
                        </div>
                        <div class="type-column">
                            2중 약점
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-background">
                <button class="collapsible" type="button" data-toggle="collapse" data-target="#doubleTypeContent"
                        aria-expanded="false">
                    타입별 공격 상성
                </button>
                <div id="doubleTypeContent" class="collapse" data-parent="#pokemonTypes">
                    <table class="type-table">
                        <tr><td> 타입</td><td>2중 반감</td></tr>
                        <tr>
                            <td>
                                <select class="type-select">
                                    <option value="normal" class="normal">노말</option>
                                    <option value="fire">불꽃</option>
                                    <option value="water">물</option>
                                    <option value="grass">풀</option>
                                    <option value="electric">전기</option>
                                    <option value="ice">얼음</option>
                                    <option value="fighting">격투</option>
                                    <option value="poison">독</option>
                                    <option value="ground">땅</option>
                                    <option value="flying">비행</option>
                                    <option value="psychic">에스퍼</option>
                                    <option value="bug">벌레</option>
                                    <option value="rock">바위</option>
                                    <option value="ghost">고스트</option>
                                    <option value="dragon">드래곤</option>
                                    <option value="dark">악</option>
                                    <option value="steel">강철</option>
                                    <option value="fairy">페어리</option>
                                </select>
                            </td>
                            <td>반감</td>
                        </tr>
                        <tr><td>-</td><td>효과적</td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>

    </div><!--end #main-->
</div><!--end #main-wrap-->

<!--<footer>-->
<!--    <p class="copyright">Version <a href="https://github.com/pvpoke/pvpoke/releases">1.16.3.3</a> © 2019, released under-->
<!--        the <a href="https://opensource.org/licenses/MIT" target="_blank">MIT license</a> | <a-->
<!--                href="https://pvpoke.com/privacy/">Privacy Policy</a></p>-->
<!--    <p>Pokémon and Pokémon GO are copyright of The Pokémon Company, Niantic, Inc., and Nintendo. All trademarked images-->
<!--        and names are property of their respective owners, and any such material is used on this site for educational-->
<!--        purposes only.</p>-->
<!--</footer>-->

<img class="background" src="../static/images/bg_sunset.jpg">

<!--Global script-->
<!--<script>{-->
<!--}</script>-->

</body>
</html>